<!doctype html>

<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UI</title>

  <script src="/js/backbone/components/jquery.js"></script>
  <script src="/js/backbone/components/underscore.js"></script>
  <script src="/js/backbone/components/backbone.js"></script>
  <script src="/js/backbone/components/socketio.js"></script>
  <script src="/js/backbone/components/hammer.js"></script>
  <script src="/js/backbone/components/jquery.hammer.js"></script>

  <script src="/js/backbone/models/model.js"></script>
  <script src="/js/backbone/collections/collection.js"></script>
  <script src="/js/backbone/views/view.js"></script>
  <script src="/js/backbone/views/app-view.js"></script>
  <script src="/js/backbone/routers/router.js"></script>

  <script src="/js/backbone/app.js"></script>
</head>
<body>
  <nav class="nav">
  </nav>
  <div class="container">

    <section class="body">
      <h1>hello world</h1>
      <div id="main" style="width:700px; margin:0 auto">
        <ul id="devices">
          
        </ul>
        
      </div>
    </section>

  </div>
  <script>
    var socket = io.connect('http://localhost:3001');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
    socket.on('newDevice', function(data){
      $('#devices').append('<li class="device">' +data.type+': '+data.name+ '<br> Available actions: ' +data.actions+ '</li>');
      console.log(data);
    });

   $('#devices').hammer().on("tap", ".device", function(event) {
      console.log(this, event);
    });
  </script>
</body>
</html>
