<!doctype html>

<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UI</title>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/animate.css">

  <script src="/js/backbone/components/jquery.js"></script>
  <script src="/js/backbone/components/underscore.js"></script>
  <script src="/js/backbone/components/backbone.js"></script>
  <script src="/js/backbone/components/socketio.js"></script>
  <script src="/js/backbone/components/hammer.js"></script>
  <script src="/js/backbone/components/jquery.hammer.js"></script>

  <script src="/js/backbone/models/device.js"></script>
  <script src="/js/backbone/collections/devices.js"></script>
  <script src="/js/backbone/views/device.js"></script>
  <script src="/js/backbone/views/app-view.js"></script>
  <script src="/js/backbone/routers/router.js"></script>

  <script src="/js/backbone/app.js"></script>

</head>
<body>
  <h1>Thingies</h1>

  <ul id='devices'>

  </ul>

  <script>
   $(document).ready(function(){
       function debug(str){ $("#debug").append("<p>"+str+"</p>"); };

       ws = new WebSocket("ws://localhost:8080/");
       ws.onmessage = function(evt) {
        parsed = JSON.parse(evt.data);
        var method = parsed.method;
        var args = parsed.args;
        eval(method + '(' + args + ')');
      };
       ws.onclose = function() { debug("socket closed"); };
       ws.onopen = function() {
         debug("connected...");
         // ws.send("hello server");
       };
     });

    function newDevice(device) {
      console.log("created new devices" + device);
      app.devices.add([
        {name: device.name,
         type: device.type,
         actions: device.actions}
      ]);
    }

   $('#devices').hammer().on("tap", ".device", function(event) {
      console.log(this, event);
    });

  </script>

  <div id="debug"></div>
    <div id="msg"></div>
</body>
</html>
