#devices {
  list-style: none;
}

.device {
  width: 200px;
  height: 200px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 100px;

  background-color: blue;
  color: white;
}

.active {
  border: 3px dotted red;
}
